<div class="banner profile notebooks">
  <div class="container">
    <h2>Edit "<%= @notebook.name %>" properties</h2>
  </div>
</div>
<div class="container">
<p id="notice"><%= notice %></p>
<%= render 'layouts/profile' %>
<section class="pr_dash">
<%= render 'form' %>

<%= link_to 'Back', notebooks_path %>
</section>