<div class="row">
  <h1 id="my-notebooks" class="span8">My notebooks</h1>
  <div class="new-notebook">
    <%= link_to '+ Create a new notebook', new_notebook_path, :title => "Add a new notebook", :class => "btn" %>
  </div>
</div>
  <div class="clear-both"></div>
  <% @notebooks.each do |notebook| %>
    <div class="notebook span12">
      <div class="notebook-name span8" id="notebook-<%= notebook.id %>">
        <%= link_to notebook.name, notebook_lessons_path(notebook), :title=>"View all lessons" %>
      </div>
      <%= link_to "+ Create a new lesson", new_notebook_lesson_path(notebook), :class => "new-lesson btn info" %>
      <div class="notebook-date"><span>Created:</span> <%= notebook.created_at %></div>
      <% if notebook.lecturer %>
        <div class="notebook-lecturer"><span>Lecturer:</span> <%= notebook.lecturer %></div>
      <% end %>
      <div class="recent-lessons">
        <% @lessons = notebook.lessons.order("created_at DESC") %>
        <% if @lessons.size > 1 %>
          <ul>
          <% @lessons.each do |lesson| %>
            <li class="recent-lesson"><%= link_to lesson.title, notebook_lesson_path(notebook, lesson)  %> </li>
          <%end%>
          </ul>
        <% end %>
      </div>
      <div class="edit-notebook"><%= link_to 'edit', edit_user_notebook_path(@user, notebook), :title => "edit notebook preferences", :class => "btn" %></div>
      <div class="delete-notebook"><%= link_to "delete", [@user, notebook], :class =>"btn", :title => "Delete this notebook", :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  <% end %>
