<p id="notice"><%= notice %></p>

<div>
  <%= @notebook.name %>
</div>
<% if @lessons.empty? %>
	<div>You have no lessons. Would you like to <%= link_to 'Create a lesson?', new_notebook_lesson_path(@notebook) %></div>
<% else %>
	<% @lessons.each do |lesson| %>
    <div><%= link_to lesson.title, notebook_lesson_path(@notebook, lesson) %></div> 
	<% end %>
<% end %>


<%= link_to 'Change notebook title', edit_user_notebook_path(@user) %> |
 <%=link_to 'Back notebooks index', notebooks_path %>
