<div class="banner lessons notebooks">
  <div class="container">
    <h2>
      <% if @lessons.empty? %>
        Create a first lesson
      <% else %>
        <%= @notebook.name %> lessons
      <%end%>
    </h2>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="lessons_dash">
    <div class="notebook">
      <% if @lessons.empty? %>
        <%= render 'lessons/form' %>
      <% else %>
        <h1 class="notebook-name"><%= @notebook.name %></h1>
        <% @lessons.each do |lesson| %>
          <div><%= link_to lesson.title, notebook_lesson_path(@notebook, lesson) %></div> 
        <% end %>
      <% end %>
    </div>
  </div>
</div>
