<%= form_for(@class_resource) do |f| %>
  <% if @class_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_resource.errors.count, "error") %> prohibited this class_resource from being saved:</h2>

      <ul>
      <% @class_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% if !@class_resource.id   %>
    <%= f.submit "Upload File", :class => "btn primary", :name =>"edit", :remote => true %>
  <% end %>
  <% if @class_resource.id %>
    <div class="field">
      <%= f.label :presentation %>
      <%= f.file_field :presentation %>
    </div>
    <div class="">
      <%= f.submit "Save", :class => "btn primary", :name =>"save" %>
    </div>
  <% end %>
<% end %>
