<p id="notice"><%= notice %></p>


<div class="file-link"><%= link_to "file", @class_resource.presentation.url %></div>
<ul class="images" id="resource-images">
  <% Dir["public/" + @class_resource.presentation.store_dir + "/*.png"].each do |image| %>
    <% #Bad way to display - need to fix... %>
    <li><%= image_tag(image[6, 100], :size => "218x218") %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_class_resource_path(@class_resource) %> |
<%= link_to 'Back', class_resources_path %>
