<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Hey, couldn't save because of the following errors:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="basic">
    <div class="basic-settings profile-settings inactive">
      Basic Settings
    </div>
    <div class="field">
      <%= f.label t(:name) %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t(:email) %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label t(:password) %><br />
      <%= f.password_field :password, :autocomplete => "off" %>
    </div>
  </div>
  
  <div class="prext">
    <div class="ext-settings profile-settings">
      Extend my profile
    </div>
    <div class="field">
      <%= f.label t(:study_at) %><br />
      <%= f.text_field :study_at %>
    </div>
    <div class="field">
      <%= f.label t(:major) %><br />
      <%= f.text_field :major %>
    </div>
    <div class="field">
      <%= f.label t(:minor) %><br />
      <%= f.text_field :minor %>
    </div>
    <div class="field">
      <%= f.label t(:language) %><br />
      <%= f.select :language, [[t(:english), 'en'], [t(:spanish), 'es'], [t(:french), 'fr'], [t(:hebrew), 'he']] %>
    </div>
  </div>
  <div class="save">
    <%= f.submit :class =>"btn primary"%>
  </div>
<% end %>
