  <div class="user-details span3">
      <div id="gravatar">
        <%= gravatar_for @user %>
      </div>
      <div id="name">
        <%= @user.name %>
      </div>
        <%= link_to 'Edit Profile', edit_user_path(@user), :class => "edit-profile" %>
        <div><%= link_to "Notebooks", notebooks_path %></div>
        <div><%= link_to "Friends", profile_friends_path %></div>
  </div>
  <div id="notebooks" class="span8">
    <h3 class="title">Recently saved notebooks</h3>
    <% @notebooks.each do |notebook| %>
      <div class="notebook">
        <h4>
          <%= link_to notebook.name, notebook_lessons_path(notebook), :class => "lesson-title" %>
        </h4>
        <div class="notebook-lessons">
          <% @lessons = notebook.lessons.limit(3).order("updated_at DESC") %>
          <% if @lessons.size > 0 %>
            <ul class="lessons">
              <% @lessons.each do |lesson| %>
                <li class="lesson"><%= link_to lesson.title, notebook_lesson_path(notebook, lesson) %> </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <%= link_to "+ Create a new lesson", new_notebook_lesson_path(notebook), :class => "new-lesson btn info" %>
      </div>
    <% end %>  
  </div>
