<section class="pr_dash">
  <% if @notebooks.length > 0 %>
  <div id="notebooks">
    <% @notebooks.each_with_index do |notebook, key| %>
      <div class="notebook pr-notebook-<%= key %>">
        <h3 class="notebook-name">
          <%= link_to notebook.name, notebook_lessons_path(notebook), :class => "lesson-title" %>
        </h3>
        <div class="notebook-details">
          <div><%=t :created %> <%= notebook.created_at.month %>, <%= notebook.created_at.year %> </div> 
          <div><%=t :lecturer %>: <%= notebook.lecturer %> </div> 
          <div><%= notebook.lessons.count %> <%=t :lessons %></div>
        </div>
        <% if notebook.lessons.count == 0 %>
          <%= link_to t(:add_first_lesson), new_notebook_lesson_path(notebook), :class => "new-lesson first-lesson" %>
        <% else %>
          <%= link_to t(:new_lesson), new_notebook_lesson_path(notebook), :class => "new-lesson" %>
        <% end %>
        
      </div>
    <% end %>
  </div>
  <% else %>
  <div id="nontbks"> 
      <h2><%=t :hey %>, <%= current_user.name %>!</h2>
      <h3><%=t :welcome %></h3>
      <div>
        <%=t :nonotebooks_html %>
        <%= render 'notebooks/form' %>
      </div>
  <% end %>
</section>
