<p id="notice"><%= notice %></p>
  <% if @notebooks.length > 0 %>
  <div id="notebooks">
    <% @notebooks.each_with_index do |notebook, key| %>
      <div class="notebook notebook-<%= key %>">
        <h4 class="notebook-name">
          <%= link_to notebook.name, notebook_lessons_path(notebook), :class => "lesson-title" %>
        </h4>
        <%= link_to "+ Create a new lesson", new_notebook_lesson_path(notebook), :class => "new-lesson btn primary" %>
        <div class="notebook-lessons">
          <% @lessons = notebook.lessons.order("updated_at DESC") %>
          <% if @lessons.size > 0 %>
            <div class="lessons">
              <% @lessons.each do |lesson| %>
                <div class="lesson"><%= link_to lesson.title, notebook_lesson_path(notebook, lesson) %> </div>
                <div><%#sanitize lesson.body.gsub(/^(.{550}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'}%></div>
              <% end %>
            </div>
          <% end %>
        </div>
        
      </div>
    <% end %>
  </div>
  <% else %>
  <div>
    Welcome to Studyers<br />
    It appears you don't have notebooks yet (notebooks are where you save all your class lessons).<br />
    <%= link_to 'Click here to add your first notebook', new_notebook_path, :title => "Add a new notebook", :class => "btn small"%>
  </div> 
  <% end %>