<section class="pr_dash">  
  <div class="user-details">
      <div id="gravatar">
        <%= gravatar_for @user %>
      </div>
      <div id="name">
        <%= @user.name %> notebooks
      </div>
  </div>
  <div id="notebooks" class="">
    <% @notebooks.each do |notebook| %>
      <div class="notebook">
        <h4 class="notebook-name">
          <%= link_to notebook.name, notebook_lessons_path(notebook), :class => "lesson-title" %>
        </h4>
        <div class="notebook-lessons">
        <%@lessons = notebook.lessons.order("updated_at DESC") %>
        <% if @lessons.size > 0 %>
          <div class="lessons">
          <% @lessons.each do |lesson| %>
            <% if can? :read, lesson %>
              <div class="lesson"><%= link_to lesson.title, notebook_lesson_path(notebook, lesson) %> [shared with you] </div>
            <% else %>
              <div class="lesson"><%= lesson.title %> </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
        </div> 
      </div>
    <% end %>
  </div>
</section>