<div class="banner profile">
  <div class="container">
    <h2>List of Studyers</h2>
  </div>
</div>
<div id="profile" class="container">
  <p id="notice"><%= notice %></p>
  <%= render 'layouts/profile' %>
  <section class="pr_dash">
    <%= will_paginate %>
      <ul class="all-user">
        <% @users.each do |user| %>
          <li><%= link_to user.name, user %></li>
        <% end %>
      </ul>
    <%= will_paginate %>
  </section>