<div><%= gravatar_for @user %></div><h2><%= @user.name %></h2>
<div>	
  <% @notebooks.each do |notebook| %>
    <div><%= link_to notebook.name, notebook_lessons_path(notebook) %></div>
  <% end %>

  <!-- test -->---
  <% @lessons.each do |lesson| %>
    <div><%= link_to lesson.title, notebook_lesson_path(lesson.notebook_id, lesson) %></div>
  <% end %>

</div>
---------------- 
<br />
<% if current_user?(@user) %>
	<%= link_to 'Edit Profile', edit_user_path(@user) %>
	<div><%= link_to "My notebooks", notebooks_path %></div>
	<div><%= link_to "My friends", profile_friends_path %></div>
<% end %>

<% if @user.friend_with? current_user %>
	you are friends with <%= @user.name %>
<% elsif !@user.friend_with? current_user and !@user.connected_with? current_user and @user != current_user %>
	<%= link_to "Add as a friend", invite_friend_path(@user) %>
<% end %>
