<div class="banner profile">
  <div class="container">
    <h2><%=t :profile %></h2>
  </div>
</div>
<div id="profile" class="container">
  <p id="notice"><%= notice %></p>
  <% if current_user?(@user) %>
    <%= render 'layouts/profile' %>
    <%= render 'my' %>
  <% else %>
    <%= render 'layouts/profile' %>
    <%= render 'user' %>
  <% end %>
</div>