<%= javascript_include_tag 'bootstrap-tab.js' %>
<script>
$(function () {
  $('.nav a:first ').tab('show');
})
</script>
<%= form_for([@course, @course_lesson]) do |f| %>
  <% if @course_lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_lesson.errors.count, "error") %> prohibited this course_lesson from being saved:</h2>

      <ul>
      <% @course_lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label t(:lesson_name) %>
    <%= f.text_field :name %><br />
  </div>
  <ul id="tab" class="nav nav-tabs">
    <li><a href="#presentation" data-toggle="tab">Add presentation</a></li>
    <li><a href="#links" data-toggle="tab">Add links</a></li>
    <li><a href="#images" data-toggle="tab">Add images</a></li>
    <li><a href="#videos" data-toggle="tab">Add videos</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="field" id="presentation">
      <%= f.file_field :file %>
    </div>
    <div class="field" id="links">
      Here I put links
    </div>
    <div class="field" id="images">
      Here I put images
    </div>
    <div class="field" id="videos">
      <%= f.fields_for :videos do |builder| %>
        <div class="videos">
          <%= builder.text_field :link %>
        </div>
      <% end %>
      <span class="description">e.g youtube: K_o2MZaM584</span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
