<div id="top-home">
  <div id="splash">
    <span class="huge">Studyers</span>
    (Coming in winter semester)
  </div>
  Invitation users, sign in: <br />
  <%= form_for(:session, :url => sessions_path, :html => {:class => "home-signin-form"}) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, :class => "email-field" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "passwd-field" %>
    </div>
    <div class="field remember">
      <%= f.check_box :remember_me %>
      <%= f.label "remember me?" %>
    </div>
    <div class="signin-button">
      <%= f.submit "Sign in", :class => "btn primary" %>
    </div>
  <% end %> 
</div>



  