<div class="tp_spl">
  <div class="container">
    <div class="tp_text">
      <div id="tp_text_spl">
        <div id="slogan">Create & <span>Share</span> lesson notes</div> 
      </div>
      <%= form_for("user", :html => {:class => "home-signup-form"}, :url => user_registration_path) do |f| %>
        Signing up is free and easy!
        <div class="field">
          <%= f.text_field :name,:placeholder => "Your name" %>
        </div>
        <div class="field">
          <%= f.email_field :email, :placeholder => "Email address" %>
        </div>
        <div class="field">
          <%= f.password_field :password, :placeholder => "Password", :autocomplete => "off" %>
        </div>
        <div class="field">
          <%= f.label :role, "I am a" %>
          <%= f.radio_button :role, 'student', :default => true %> Student
          <%= f.radio_button :role, 'teacher' %> Teacher
        </div>

        <div class="save"><%= f.submit "Start taking notes!", :class => "primary", :id => "home-signup" %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="home_main" style="display: none;">
  <div class="container">
    <div class="span3">
      <div class="title first">
        <h2>Easiest note taking</h2>
      </div>
      <div class="content">
        <%# image_tag("take_notes.png") %>
        With Studyers you can: <br />
        - Add lecturer's presentation <br />
        - Write down notes <br />
        - Draw and add graphs <br />
      
      </div>
    </div>
    <div class="span3">
      <div class="title middle">
        <h2>Sharing notes</h2>
      </div>
      <div class="content">
        <%# image_tag("share_notes.png") %>
        It is now easy to share notes, study together and enrich each other.
      </div>
    </div>
    <div class="span3">
      <div class="title last">
        <h2>Private Studyers</h2>
      </div>
      <div class="content">
        <%# image_tag("organize_lessons.png") %>
        Want a private hosted Studyers for your college?
        Questions? More information? <br />
        Contact us: <a href="mailto:alpha@studyers.com">alpha@studyers.com</a>
      </div>
    </div>
  </div>
</div>