<%= javascript_include_tag 'lessons.js', 'jquery.tokeninput.js' %>
<%= form_for([@notebook, @lesson], :html => { :class => "span16"} ) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="side-menu">
  <a class="resource btn" id="show-embed" href="#">+ lecturer presentation</a>
  <a class="resource btn" id="share-lesson" href="#">Share this lesson</a>
</div>
<div id="wiki-find-form">
  <label for="wiki-value">Search on Wikipedia</label><br />
  <input type="text" class="wiki-value" id="wiki-term-input" autocomplete="off" />
  <a class="wiki-find btn" id="wiki-submit">Find</a>
</div>
<div id="side-resources">
  <div class="pull-resource" id="show-embed-form">
    <div class="block-message side-message info">
      <a class="close" href="#">×</a>
      <p>If someone in your class has already uploaded this presentation, get the presentation ID and add it here: </p>
      <div class="alert-actions">
        (/class_resources/<input type="text" id="get-resource" class="span1 mini" />)
        <a href="#" class="btn small" id="fetch-resource">Get</a><br />
        Or <a href="#" class="btn small" id="upload-resource" >upload</a> your presentation
      </div>
    </div>
      <div class="presentation-embed">
      </div>
  </div>
  <div class="pull-resource" id="share-lesson-form">
    <div class="block-message side-message info">
      <a class="close" href="#">×</a>
      <%= f.fields_for :shares do |builder| %>
        <%= builder.label :shared_token, "Type the user names you wish to share the lesson with:" %>
        <%= builder.text_field :shared_token, "data-pre" => @shared_ids %>
      <% end %>
      <br />
      <a class="close-btn btn small" href="#">Done</a>
    </div>
  </div>
  <div class="pull-resource" id="wiki-results">
    <div class="block-message side-message info loading" id="wiki-finder-results">
      <a class="close" href="#">×</a>
    </div>
  </div>
</div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "span12 xlarge" %>
  </div>
  <div class="field">
    <%= f.text_area :body%>
  </div> 
  <%# f.fields_for :contents do |build| %>
    <%# render 'content_fields', :f => build %>
  <%# end %>
  <div class="field">
    <%= f.submit :id => "lesson_submit", :class => "btn primary" %>
  </div>

<% end %>