<%= javascript_tag do %>
  studyersLocale = '<%= j I18n.locale.to_s %>';
<% end %>
<script>
$(function () {
  $('.nav a:first ').tab('show');
})
</script>
<%= javascript_include_tag 'lessons.js', 'jquery.tokeninput.js', 'bootstrap-tab.js' %>
<%= form_for([@notebook, @lesson], :html => { :class => "lesson-form"} ) do |f| %>
<section id="note-take" class="left">
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="title-field">
    <%= f.text_field :title, :class => "edit-title" %>
  </div>
 <!--  <div id="swiper" class="open">Resources</div> -->
  <div class="field">
    <%= f.text_area :body%>
  </div> 
  <div class="pulled-resource field" id="share-lesson-form">
    <h3>Share this lesson</h3>
    <div class="block-message side-message info">
      <label for="lesson_shares_attributes_0_shared_token">Type the user names you wish to share the lesson with:</label>
      <input data-pre="<%= @shared_ids %>" id="lesson_shares_attributes_0_shared_token" name="lesson[shares_attributes][0][shared_token]" size="30" type="text" style="display: none; ">
      <br />
    </div>
    <div class="publicise">
      <span>Or be famous, and make it public.</span> <br />
      <%= f.check_box :permission %> Everyone can see this lesson
    </div>
  </div>
  <div class="field-submit save">
    <%= f.submit :value => "save", :id => "lesson_submit", :class => "btn primary" %>
    <%= f.submit :value => "save+close", :id => "lesson_edit", :class => "btn primary" %>
  </div>
  </section>
  <div id="lesson-helpers" class="open">
  <ul id="tab" class="nav nav-tabs">
    <li><a href="#show-embed-form" data-toggle="tab"><%=t :lecturer_presentation %></a></li>
    <li><a href="#search-on-wiki-form" data-toggle="tab"><%=t :Wikipedia %></a></li>
    <!-- <li><a href="#images" data-toggle="tab">Add images</a></li>
    <li><a href="#videos" data-toggle="tab">Add videos</a></li> -->
  </ul>
    <!-- <a class="resource btn" id="show-embed" href="#" title="Add your lecturer's presentation"><%=t :lecturer_presentation %></a>
    <a class="resource btn" id="search-on-wiki" href="#" title="Search on Wikipedia"><%=t :Wikipedia %></a> -->
  <div id="myTabContent" class="tab-content">
    <div class="pull-resource" id="show-embed-form">
      <div class="block-message side-message info">
        <div>If you or a classmate already uploaded the presentation, type in the ID here:</div>
        <div class="alert-actions">
          (/class_resources/<input type="text" id="get-resource" class="span1 mini" />)
          <a href="#" class="btn" id="fetch-resource">Get</a><br />
          Or <a href="#" class="btn small" id="upload-resource" >upload</a> your presentation
        </div>
      </div>
        <div class="presentation-embed">
        </div>
    </div>
    
    <div class="pull-resource" id="search-on-wiki-form">
      <div id="wiki-find-form" class="block-message side-message info">
        <input type="text" class="wiki-value" id="wiki-term-input" autocomplete="off" />
        <a class="wiki-find btn" id="wiki-submit"><%=t :search %></a>
        <div id="wiki-results">
          <div class="block-message side-message info loading" id="wiki-finder-results">
        </div>
    </div>
      </div>
    </div>
    
  </div>
  </div>
<% end %>