<%= javascript_include_tag 'editor/editor' %>
<%= form_for([@notebook, @lesson], :html => { :class => "span16"} ) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "span16 xlarge" %>
  </div>
  <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body%>
   </div>
      <input id="spellcheckinput" type="text"> <span id="spellcheckresult"></span>

  <div class="field" id="permission">
    <%= f.label :permission, "Who can see this lesson?" %><br />
    <%= f.radio_button :permission, 0 %> Only me
    <%= f.radio_button :permission, 1 %> My friends
    <%= f.radio_button :permission, 2 %> Everyone
  </div>
  <div class="">
    <%= f.submit :id => "lesson_submit", :class => "btn primary" %>
    
  </div>
<% end %>
<div id="features">
  <div class="btn" id="add-draw">Add Draw</div>
  <div class="btn" id="add-text">Add Text</div>
</div>