<script>
(function( $ ){
      $.fn.studyEditor = function() {
          //var textArea = this.find('textarea');
          //htmlCode = textArea.val();
          //textArea.after('<div contentEditable="true" id="iView" style="float: left; width: 500px; min-height:400px">'+htmlCode+'</div> ');
          //textArea.hide();
          //var fd = document.getElementById('iView');
          //fd.designMode = "on";
            
            $("#lesson_submit").click(function(){
            
                var oCanvas = document.getElementById("lesson-canvas");
                $("#lesson_attachment64").val(oCanvas.toDataURL());

              //  var saveHtml = $('#iView').html();
              //  //alert(saveHtml); return false;
              //  textArea.val(saveHtml);
            });
      	// Buttons
      	//$('#buttons input[type="button"]').click(function() {
        //	var cmd = $(this).attr('id');
        //  document.execCommand(cmd,false, null);
      	//});
      };
})( jQuery );
</script>
<script>
(function( $ ){
  $.fn.lessonCanvas = function() {
    var paint= false;
    var canvas = document.getElementById('lesson-canvas');
    var context = canvas.getContext("2d");

    // Colors:
    var colorPurple = "#cb3594";
    var colorGreen = "#659b41";
    var colorYellow = "#ffcf33";
    var colorBrown = "#986928";
    var colorBlack ="#333333";

    var curColor = colorBlack;
    var clickColor = new Array();
    
    if ($("#canvas-image")) {
      var lessonImage = new Image();
      lessonImage.src = $("#canvas-image").attr("src");
      lessonImage.onload = function() {
        context.drawImage(lessonImage, 0,0);
      }
      $("#canvas-image").remove();
    }
    context.lineWidth = 2;
    context.lineCap = "round";

    $('.color').click(function() {
      var color = $(this).attr("id");
      //alert(color);
      switch (color) {
        case "colorBrown":
          curColor = colorBrown;
          break;
        case "colorYellow":
          curColor = colorYellow;
          break;
        case "colorGreen":
          curColor = colorGreen;
          break;
        case "colorBlack":
          curColor = colorBlack;
          break;
      }
    });


    this.mousedown(function(e){
      var mouseX = e.pageX - this.offsetLeft;
      var mouseY = e.pageY - this.offsetTop;
              
      paint = true;
      addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
      redraw();
    });

    this.mousemove(function(e){
      if(paint){
         addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
         redraw();
      }
    });

    this.mouseleave(function(e){
      paint = false;
    });

    this.mouseup(function(e){
      paint = false;
    });

    var clickX = new Array();
    var clickY = new Array();
    var clickDrag = new Array();
    var paint;

    function addClick(x, y, dragging){
      clickX.push(x);
      clickY.push(y);
      clickDrag.push(dragging);
      clickColor.push(curColor);
    }

    function redraw() {
      for(var i=0; i < clickX.length; i++) {
        context.beginPath();
        if(clickDrag[i] && i){
           context.moveTo(clickX[i-1], clickY[i-1]);
        }else{
           context.moveTo(clickX[i]-1, clickY[i]);
        }
        context.lineTo(clickX[i], clickY[i]);
        context.closePath();
        context.strokeStyle = clickColor[i];
        context.stroke();
      }
    }

  };
})( jQuery );

function clearCanvas() {
  var canvas = document.getElementById('lesson-canvas');
  var context = canvas.getContext('2d');
  context.clearRect(1, 1, 500, 500);
}
</script>

<script>
$(document).ready(function() {
    $("form").studyEditor();
    $('#lesson-canvas').lessonCanvas();
	    
});
</script>

<%= form_for([@notebook, @lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "mceEditor" %>
    <canvas class="canvas" id="lesson-canvas" width="500" height="500" style="cursor: crosshair;float:right; margin: 5px; border: 1px solid red"></canvas>
    <div class="colors" style="clear:both; float: left;">
      <div class="color" id="colorGreen">Gr</div>
      <div class="color" id="colorYellow">Yel</div>
      <div onclick="clearCanvas();">Cle</div>
    </div>    
  </div>

  <div class="field" style="clear:both;">
    <%= f.label :permission %><br />
    <%= f.radio_button :permission, 0 %> Only me
    <%= f.radio_button :permission, 1 %> My friends
    <%= f.radio_button :permission, 2 %> Everyone
  </div>
  <%= f.hidden_field :attachment64 %>
  <div class="actions">
    <%= f.submit %>
  </div>
	<% if @lesson.attachement.present? %>
		<%= image_tag @lesson.attachement.url, :id=>"canvas-image" %>
	<% end %>
<% end %>
