<script>
(function( $ ){
      $.fn.studyEditor = function() {
            var i = 0;
          var textArea = this.find('textarea');
            htmlCode = textArea.val();
            textArea.after('<div contentEditable="true" id="iView" style="min-width: 900px; min-height:400px">'+htmlCode+'</div> ');
            textArea.hide();
            var fd = document.getElementById('iView');
            fd.designMode = "on";
            
            
            
            $("#lesson_submit").click(function(){
                for (var j = 0; j < i; j++) {
                    var oCanvas = document.getElementById("canvas-" + j);
                    $("#lesson_attachment64").val(oCanvas.toDataURL());
                    
                    $(oCanvas).before(oImgPNG);
                    $(oCanvas).remove();
                }
                
                var saveHtml = $('#iView').html();
                //alert(saveHtml); return false;
                textArea.val(saveHtml);
      });
      // Buttons
      $('#buttons input[type="button"]').click(function() {
        var cmd = $(this).attr('id');
          document.execCommand(cmd,false, null);
      });
      
            $('#add-draw').click(function() {
                $("#iView").append('<canvas class="canvas" id="canvas-'+i+'" width="200" height="200" style="float:left; margin: 5px; border: 1px solid red"></canvas>');
                canvasInit(i);
              i++;
            });
      };
})( jQuery );
function canvasInit(i) {
    context = document.getElementById('canvas-'+i).getContext("2d");
  $('#iView #canvas-'+i).mousedown(function(e){
      var mouseX = e.pageX - this.offsetLeft;
      var mouseY = e.pageY - this.offsetTop;
            
      paint = true;
      addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
      redraw();
    });

   $('#iView #canvas-'+i).mousemove(function(e){
      if(paint){
        addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
        redraw();
      }
    });

   $('#iView #canvas-'+i).mouseup(function(e){
      paint = false;
    });

   $('#iView #canvas-'+i).mouseleave(function(e){
      paint = false;
    });

   var clickX = new Array();
   var clickY = new Array();
   var clickDrag = new Array();
   var paint;

   function addClick(x, y, dragging)
   {
     clickX.push(x);
     clickY.push(y);
     clickDrag.push(dragging);
   }

   function redraw(){
      //canvas.width = canvas.width; // Clears the canvas
      
      context.strokeStyle = "#df4b26";
      context.lineJoin = "round";
      context.lineWidth = 2;
                
      for(var i=0; i < clickX.length; i++)
      {clickX
        context.beginPath();
        if(clickDrag[i] && i){
          context.moveTo(clickX[i-1], clickY[i-1]);
         }else{
           context.moveTo(clickX[i]-1, clickY[i]);
         }
         context.lineTo(clickX[i], clickY[i]);
         context.closePath();
         context.stroke();
      }
    }

}
</script>

<script>
$(document).ready(function() {
    $("form").studyEditor();
});
</script>
<div id="buttons">
    <input type="button" id="bold" value="Bold" `/>
    <input type="button" id="italic" value="Italic" />
</div>

<div id="add-draw">Add a draw</div>
<%= form_for([@notebook, @lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
		<script type="text/javascript">
		
		</script>
  </div>
	

  <div class="field">
    <%= f.label :permission %><br />
    <%= f.radio_button :permission, 0 %> Private
		<%= f.radio_button :permission, 1 %> Friends
		<%= f.radio_button :permission, 2 %> Public
  </div>
	<%= f.hidden_field :attachment64 %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>