<%= javascript_include_tag 'lessons.js' %>
<%= form_for([@notebook, @lesson], :html => { :class => "span16"} ) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span12">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "span12 xlarge" %>
    </div>
    <div class="pull-resource">
      <div class="alert-message block-message info">
        <a class="close" href="#">×</a>
        <p>If your lecturer or a classmate has provided you with an ID to this lesson's presentation add it here: </p>
        <div class="alert-actions">
          (<%= root_url %>class_resources/<input type="text" id="get-resource" class="span1 mini" />)
          <a href="#" class="btn small" id="fetch-resource">Get</a>
        </div>
      </div>
    </div>
    <% #Show the following alert only on new lessons (i.e with no id) %>
    <% if (!@lesson.id) %>
    <div id="features" class="alert-message block-message info">
      <p>Or start taking your notes</p>
      <div class="btn" id="add-text">+ Textarea</div>
      <div class="btn" id="add-draw">+ Drawpad</div>
    </div>
    <% end %>
    <div class="field">
      <%= f.text_area :body%>
    </div>
      <!--<input id="spellcheckinput" type="text"> <span id="spellcheckresult"></span>-->

    <div class="field" id="permission">
      <%= f.label :permission, "Who can see this lesson?" %><br />
      <%= f.radio_button :permission, 0 %> Only me
      <%= f.radio_button :permission, 1 %> My friends
      <%= f.radio_button :permission, 2 %> Everyone
    </div>
    <div class="">
      <%= f.submit :id => "lesson_submit", :class => "btn primary" %>
    </div>
  </div>
  <div class="span4">
    <div class="resources"></div>
  </div>
</div>
<% end %>
<!---->