<h1 class="notebook-name"><%= @notebook.name %></h1>
<h2 class="lesson-list">list of lessons</h2>

<div class="notebook-wide">
  <% if @lessons.count > 0 %>
    <% @lessons.each do |lesson| %>
      <div class="lesson">  
        <div class="lesson-title"><%= link_to lesson.title, notebook_lesson_path(@notebook, lesson) %></div>
        <div class="lesson-date"><span>Created at:</span> <%= lesson.created_at %></div>
        <% if can? :update, lesson %>
          <div class="edit-lesson"><%= link_to 'Edit', edit_notebook_lesson_path(@notebook, lesson), :title => "Edit lesson"  %></div>
          <div class="delete-lesson"><%= link_to 'Del', [@notebook, lesson], :confirm => 'Are you sure?', :method => :delete, :title => "Delete lesson" %></div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if @current_user.id == @notebook.user_id %>
      <div class="empty-lesson">Add a <%= link_to 'first lesson', new_notebook_lesson_path %></div>
    <% end %>
  <% end %>
</div>
<br />
<% if @current_user.id == @notebook.user_id %>
<%= link_to 'New Lesson', new_notebook_lesson_path %>
<% end %>
