<div class="banner lessons notebooks">
  <div class="container">
    <h2><%= @notebook.name %> lessons</h2>
  </div>
</div>
<div class="container">
<p id="notice"><%= notice %></p>
<%= render 'layouts/profile' %>
<div class="lessons_dash">
  <div class="notebook">
  <h1 class="notebook-name"><%= @notebook.name %></h1>
  <% if @current_user.id == @notebook.user_id %>
    <%= link_to 'new Lesson', new_notebook_lesson_path, :class => "new-lesson" %>
  <% end %>
  <h3 class="lessons-list">list of lessons</h3>

  <% if @lessons.count > 0 %>
    <% @lessons.each do |lesson| %>
      <div class="lesson">  
        <h3 class="lesson-title"><%= link_to lesson.title, notebook_lesson_path(@notebook, lesson) %></h3>
        <div class="lesson-date"><span>Created at:</span> <%= lesson.created_at %></div>
        <% if can? :update, lesson %>
        <div class="tools">
          <div class="edit-lesson"><%= link_to 'Edit lesson', edit_notebook_lesson_path(@notebook, lesson), :class =>"btn info", :title => "Edit lesson"  %></div>
          <div class="delete-lesson"><%= link_to '- Delete lesson', [@notebook, lesson], :class =>"del-lesson", :method => :delete, :remote => true, confirm: 'Are you sure you want to delete this lesson?', :title => "Delete lesson" %></div>
        </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if @current_user.id == @notebook.user_id %>
      <div class="empty-lesson">Add a <%= link_to 'first lesson', new_notebook_lesson_path %></div>
    <% end %>
  <% end %>
  </div>
</div>

