
<p>
  <b>Title:</b>
  <%= @lesson.title %>
</p>

<p>
  <b>Body:</b>
  <%=sanitize @lesson.body %>
</p>

<p>
  <b>Notebook:</b>
  <%= @lesson.notebook_id %>
</p>

<p>
  <b>User:</b>
  <%= @lesson.user_id %>
</p>

<p>
  <b>Permission:</b>
  <%= @lesson.permission %>
</p>

<% if @current_user.id == @lesson.user_id %>
<%= link_to 'Edit', edit_notebook_lesson_path %> |
<% end %>
<%= link_to 'Back', notebook_lessons_path %>
