<div class="lesson-show-wrapper">
  <div class="lesson-show">
    <h3><%= @lesson.title %></h3>
    <% if @current_user.id != @lesson.user_id %>
      <h4><%= link_to @author.name, user_path(@author.id) %></h4>
    <% end %>
    <%= sanitize @lesson.body %>
    
    <%# for content in @lesson.contents %>
      <%# sanitize content.content %>
    <%# end %>
  </div>

  <div class="user-menu">
    <% if @current_user.id == @lesson.user_id %>
      <%= link_to 'Edit lesson', edit_notebook_lesson_path, :class => "btn" %> |
    <% end %>
      <%= link_to 'Back to the notebook index', notebook_lessons_path %>
  </div>
</div>
