<div class="banner profile notebooks">
  <div class="container">
    <h2><%=t :my_courses %></h2>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <section class="pr_dash">



<% @courses.each do |course| %>
    <td><%= course.user_id %></td>
    <td><%= course.name %></td>
    <td><%= course.number %></td>
    <td><%= course.department %></td>
    <td><%= course.term %></td>
    <td><%= course.school %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
<% end %>



<%= link_to 'New Course', new_course_path %>
  </section>
</div>