<div class="banner profile notebooks">
  <div class="container">
    <h2><%= @course.name %></h2>
  </div>
</div>
<div class="container">
  <section class="pr_dash">
    <div class="course-details">
      <% if !@course.number.empty? %><%= @course.number %> <% end %>
      <% if !@course.department.empty? %>| <%= @course.department %> <% end %>
      <% if !@course.term.empty? %> | <%= @course.term %><% end %>
    </div>

    <% if @course_lessons.length > 0 %>
    <ul>
    <% @course_lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.name, course_course_lesson_path(@course, lesson) %> <br />
        <%= link_to "Edit #{lesson.name}", edit_course_course_lesson_path(@course, lesson) %>
      </li>-
    <% end %>
    </ul>
    <%= link_to "new lesson", new_course_course_lesson_path(@course) %>
  <% else %>
    No course lessons created yet. <br />
    <% if current_user.id == @course.user_id %>
      <%= link_to "Create a first lesson", new_course_course_lesson_path(@course) %>      
    <% end %>
  <% end %>
  </section>
</div>