<p id="notice"><%= notice %></p>


<p>
  <b>Course name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Course code:</b>
  <%= @course.number %>
</p>

<p>
  <b>Department:</b>
  <%= @course.department %>
</p>

<p>
  <b>Term:</b>
  <%= @course.term %>
</p>
<ul>
<% @course_lessons.each do |lesson| %>
<li>
  <%= link_to lesson.name, course_course_lesson_path(@course, lesson) %> <br />
  <%= link_to "Edit #{lesson.name}", edit_course_course_lesson_path(@course, lesson) %>
</li>--
<% end %>
</ul>

---
<%= link_to "new lesson", new_course_course_lesson_path(@course) %>
--


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
