<header class="topbar">
  <div class="topbar-inner">
    <div class="container">
        <%= link_to "Studyers", root_path, :id => "logo_url", :class => "brand"%>
      <nav>
        <ul class="nav">
          <% if signed_in? %>
            <li class="<%= current_class?(profile_path) %>">
              <%= link_to "Profile", profile_path, :class => current_class?(profile_path) %>
            </li>
            <li class="<%= current_class?(notebooks_path) %>">
              <%= link_to "Notebooks", notebooks_path, :class => current_class?(notebooks_path) %>
            </li>
            <li class="<%= current_class?(new_notebook_path) %>">
              <%= link_to "+ Create a new notebook", new_notebook_path, :class => current_class?(new_notebook_path) %>
            </li>
          <% end %>
        </ul>
      </nav>
      <div class="pull-right">
        <% if signed_in? %>
          <div class="pull-left"><%= gravatar_for current_user, options = { :size => 25, :default => 'mm' } %></div>
          <ul class="nav secondary-nav">
            <li><%= link_to current_user.name, "#", :class => 'top_user dropdown-toggle' %>
              <ul class="menu-dropdown">
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    	          <li><%= link_to "Logout", signout_path, :method => :delete %></li>
    	        </ul>
    	      </li>
    	    </ul>
        <% else %>
      	  <div><%= link_to "Alpha users sign in", signin_path %></div>
        <% end %>
      </div>
    </div>
  </div>
</header>
