<header>
  <div id="logo">
    <%= link_to "Studyers", root_path, :id => "logo_url" %>
    <span>alpha</span>
  </div>
  <nav class="top_nav">
    <ul>
      <% if signed_in? %>
        <li>Welcome, <%= link_to current_user.name, profile_path, :class => 'top_user' %></li>
        <li><%= link_to "Notebooks", notebooks_path, :class => current_class?(notebooks_path) %></li>
        <li><%= link_to "Profile", profile_path, :class => current_class?(profile_path) %></li>
      	<li><%= link_to "Logout", signout_path, :method => :delete %></li>
      <% else %>
      	<li><%= link_to "Alpha users sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
