<% if current_user %>
<section class="sidebar">
<div class="gravatar"><%= gravatar_for current_user %></div>
<div class="user-info"><%= link_to current_user.name, profile_path %></div>
<nav>
  <ul>
    <li class="notebooks-title side-links"><%= link_to t(:notebooks), notebooks_path %></li>
    <li class="lessons-shared side-links"><%= link_to t(:lessons_shared), lessons_shared_path %></li>
    <li class="users-path side-links"><%= link_to t(:who_to_follow), users_path %></li>
  </ul>
</nav>
</section>
<% end %>