<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application' %>

  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if current_user %>
      <section class="sidebar">
        <%= render 'layouts/profile' %>
      </section>
    <% end %>
    <section class="content">
      <% flash.each do |key, value| %>
        <div class="alert-message <%= key %>"><%= value %></div>
      <% end %>
        
      <%= yield %>		
    </section>
  </div>
  <% #render 'layouts/footer' %>

</body>
</html>
