<!DOCTYPE html>
<html class="<%= controller.controller_name %> <%= controller.action_name %> ">
<head>
  <title><%= title %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application' %>
  <% if I18n.locale.to_s == 'he' %>
    <%= stylesheet_link_tag 'application_rtl' %>
  <% end %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <%= stylesheet_link_tag "application_print", :media => "print" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  
  <% 
    ##
    # Integration to Google Analytics
    # Add your ID via config/studyers.yml
    ##
  %>
  <script type="text/javascript">
    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= STUDYERS_CONFIG['ganalytics'] %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %> <%= I18n.locale %>">
  <%= render 'layouts/header' %>
  <section class="content">
    <% flash.each do |key, value| %>
      <div class="alert-message <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>		
  </section>
  <%= render 'layouts/footer' %>
  <% if controller.controller_name != "pages" && Rails.env != "development" %>
  <% 
    ##
    # Integration to User Voice
    # Add your ID via config/studyers.yml
    ##
  %>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/<%= STUDYERS_CONFIG['uservoice'] %>' ;
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <% end %>
</body>
</html>
