<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :scaffold %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&v1' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<!-- Header -->
	<%= render 'layouts/header' %>
	<!-- /Header -->
	<div class="container">
	<!-- Errors -->
	  <% flash.each do |key, value| %>
  	  <div class="flash <%= key %>"><%= value %></div>
      <% end %>
	<!-- /Errors -->
	<!-- Main -->	
	  <section class="content">
	    <%= yield %>		
	  </section>
	</div>
	<!-- /Main -->
	
	<!-- Footer -->
	<%= render 'layouts/footer' %>
	<!-- /Footer -->

</body>
</html>
