<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application' %>

  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if current_user %>
  <div class="container">
    <section class="sidebar">
        <%= render 'layouts/profile' %>      
    </section>
    <section class="content">
      <% flash.each do |key, value| %>
        <div class="alert-message <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>		
    </section>
  </div>
  <% else %>
     <%= yield%>
   <% end %>
</body>
</html>
