<!DOCTYPE html>
<html class="<%= controller.controller_name %> <%= controller.action_name %> ">
<head>
  <title><%= title %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application' %>
  <% if I18n.locale == 'he' %>
    <%= stylesheet_link_tag 'application_rtl' %>
  <% end %>
  <%= stylesheet_link_tag "application_print", :media => "print" %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29328484-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %> <%= I18n.locale %>">
  <%= render 'layouts/header' %>
  <section class="content">
    <% flash.each do |key, value| %>
      <div class="alert-message <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>		
  </section>
  <%= render 'layouts/footer' %>
</body>
</html>
