<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application' %>
  <% if I18n.locale == 'he' %>
    <%= stylesheet_link_tag 'application_rtl' %>
  <% end %>
  <%= stylesheet_link_tag "application_print", :media => "print" %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %> <%= I18n.locale %>">
  <%= render 'layouts/header' %>
  <section class="content">
    <% flash.each do |key, value| %>
      <div class="alert-message <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>		
  </section>
  <%= render 'layouts/footer' %>
</body>
</html>
